h1{
color: green;
text-align: center ;
}
.ejemplo{
	background-color: red;
	height: 20px;
}
.parrafo{
	background-color: rgb(253, 255, 253);
	height: 10px;
	color: rgb(3, 36, 97);
	text-decoration: dodgerblue;
	
}

.titulo{
		color: brown;
		text-align: justify-all; 
	}